<section>
    <div class="container-fluid vh-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-5 align-self-center">
                    <div class="error-box-text-con">
                        <div class="error-box-text">
                            <h2>{{ errorCode }}</h2>
                            <h5>{{ errorTitle }}</h5>
                            <p>{{ errorDescription }}</p>
                            <div class="btn-con mt-4">
                                <button class="dark-bg-btn" mat-flat-button color="primary" (click)="homePage()" type="button">Home</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
