$primaryColor: #40A8E7 !default;
$secondaryColor: #737373 !default;
$darkGrayColor: #2F3C4B !default;
$lightGrayColor: #F4F6F9 !default;
$linkColor: #18B9D4 !default;
$lintTextColor: #007BFF !default;
$darkBlueColor: #383E4A !default;
$buttonBgColor: #6CF6FF !default;
$buttonTextColor: #181E2C !default;
$whiteColor: #FFFFFF !default;
$blackColor: #000000 !default;
$linearGradientLightBlueColor: #64DFEF !default;
$linearGradientDarkBlueColor: #0B6D9C !default;
$errorMessage: #FE413B !default;
$successMessage: #3DBA6F !default;
$warningMessage: #FAB63F !default;