.mat-slide-toggle-box {
    .mdc-switch {
        .mdc-switch__track {
            &::before {
                background: $secondaryColor !important;
            }
            &::after {
                background: rgba($linkColor, 0.5) !important;
            }
        }
        .mdc-switch__handle-track {
            .mdc-switch__handle {
                &::before {
                    background: none !important;
                }
                .mdc-switch__shadow {
                    background-color: $linkColor;
                    border: solid 1px $linkColor;
                }
                .mdc-switch__icons {
                    display: none;
                }
            }
        }
        &:hover {
            .mdc-switch__ripple {
                &::after {
                    opacity: 0 !important;
                }
            }
        }        
        &:disabled {
            .mdc-switch__track {
                opacity: 1 !important;
            }
        }
        &.mdc-switch--unselected {
            .mdc-switch__handle-track {
                .mdc-switch__handle {
                    .mdc-switch__shadow {
                        background-color: $whiteColor;
                        border: solid 1px $whiteColor;
                    }
                }
            }
        }
    }
    &.mat-mdc-slide-toggle {
        .mdc-label {
            font-size: 14px;
            line-height: 20px;
            margin-left: 10px;
        }
    }
}