.pagination {
    border: none;
    color: $darkGrayColor;
    font-family: $poppins;
    .mat-mdc-paginator-container {
        min-height: 44px;
        padding: 0;
        .mat-mdc-paginator-page-size {
            align-items: center !important;
            .mat-mdc-paginator-page-size-select {
                margin: 0px 4px !important;
                .mat-mdc-text-field-wrapper {
                    .mat-mdc-form-field-flex {
                        .mdc-notched-outline {
                            .mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing {
                                border-color: $linkColor;
                            }
                        }
                        .mat-mdc-form-field-infix {
                            .mat-mdc-select-value-text {
                                .mat-mdc-select-min-line {
                                    color: $linkColor;
                                }
                            }
                            .mat-mdc-select-arrow {
                                color: $linkColor !important;
                            }
                        }
                    }
                }
            }
        }
        .mat-mdc-paginator-range-label {
            margin: 0 10px 0;
        }
        .mat-mdc-icon-button {
            .mat-mdc-paginator-icon {
                fill: $linkColor;
            }
            &.mat-mdc-button-disabled {
                .mat-mdc-paginator-icon {
                    fill: rgba($linkColor, 0.5);
                }
            }
        }
    }
}