<div class="auth-pages change-password-box primary-input-box" ngbAutoFocus>
    <div class="modal-header auth-form-header-box">
        <h6 class="modal-title" id="modal-basic-title">Change Password</h6>
        <button mat-flat-button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body auth-form-body-box">
        <form class="mt-4" #form="ngForm" [formGroup]="changePasswordForm" (submit)="onSubmit()">
            <div class="form-group mat-form-field-width">
                <mat-form-field appearance="outline">
                    <mat-label for="oldpassword">Current Password</mat-label>
                    <input id="oldpassword" matInput [type]="oldHide ? 'password' : 'text'" formControlName="oldPassword" />
                    <button
                        type="button"
                        mat-icon-button
                        matSuffix
                        (click)="oldHide = !oldHide"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="oldHide"
                    >
                        <mat-icon>{{ oldHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="error-msg-outer" *ngIf="changePasswordForm.controls['oldPassword'].touched || form.submitted">
                <app-error-message class="error-message" [errors]="changePasswordForm.controls['oldPassword'].errors"> </app-error-message>
            </div>

            <div class="form-group mat-form-field-width">
                <mat-form-field appearance="outline">
                    <mat-label for="newpassword">New Password</mat-label>
                    <input id="newpassword" matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
                    <button
                        type="button"
                        mat-icon-button
                        matSuffix
                        (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide"
                    >
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="error-msg-outer" *ngIf="changePasswordForm.controls['password'].touched || form.submitted">
                <app-error-message class="error-message" [errors]="changePasswordForm.controls['password'].errors"> </app-error-message>
            </div>

            <div class="form-group mat-form-field-width">
                <mat-form-field appearance="outline">
                    <mat-label for="confirmpassword">Confirm Password</mat-label>
                    <input id="confirmpassword" matInput [type]="hideConfirmPass ? 'password' : 'text'" formControlName="confirmPassword" />
                    <button
                        type="button"
                        mat-icon-button
                        matSuffix
                        (click)="hideConfirmPass = !hideConfirmPass"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hideConfirmPass"
                    >
                        <mat-icon>{{ hideConfirmPass ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="error-msg-outer" *ngIf="changePasswordForm.controls['confirmPassword'].touched || form.submitted">
                <app-error-message class="error-message" [errors]="changePasswordForm.controls['confirmPassword'].errors">
                </app-error-message>
            </div>

            <div class="form-group text-center auth-pages-btn-box">
                <button
                    mat-flat-button
                    color="primary"
                    type="button"
                    class="btn-border-dark me-3"
                    aria-label="Close"
                    (click)="closeModal()"
                >
                    Cancel
                </button>
                <span class="small-loading">
                    <button type="submit" mat-flat-button color="primary" class="dark-bg-btn" [disabled]="clicked">
                        {{ clicked ? '' : 'Save' }}
                        <app-loader [count]="3" *ngIf="clicked"></app-loader>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
